.user-actions-modal{
    .ant-form{
        .ant-form-item{
            margin-bottom: 8px;
            .ant-form-item-label{
                padding-bottom: 2px;
            }
        }
    }

    .field-error{
        margin: 0px;
        color: red;
    }

    .modal-inputs{
        display: flex;
        flex-direction: column;
        gap: 8px;
        .modal-input{
            display: flex;
            flex-direction: column;
            gap: 2px;
        }
        .field-error{
            color: red;
            font-size: 14px;
            margin: 0px;
        }
    }
    .ant-btn,
    .ant-input-outlined{
        border-radius: 2px;
    }
}