@import '../node_modules/@flaticon/flaticon-uicons/css/all/all.css';

:root {
  --primary-color: #1990ff;
  --danger-color : #ff4d4f
}

body {
  margin: 0;
  /* background: #d1fae5; */
  min-height: 100vh;
  background: #eeeef0;
  font-family: "Poppins", sans-serif;
}


.not-found{
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.not-found > h2{
  margin: 0px;
  font-size: 62px;
}
.not-found > p{
  margin: 0px;
  font-style: italic;
}